* {
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 200px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: #000000;
  font-family: "Dancing Script", cursive;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 32px;
  color: #ffffff;
  display: block;
  transition: 0.7s;
}
.sidenav a:hover {
  color: #66E389;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  background-color: #66E389;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 22px;
  }
}
h2 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  position: relative;
  left: 200px;
  z-index: 1;
  font-family: "Dancing Script", cursive;
}
.main {
  margin-left: 200px;
}
.p1 {
  font-size: 27px;
  color: rgb(0, 0, 0);
  position: relative;
  left: 200px;
  z-index: 1;
  top: 160px;
}
.img1 {
  float: right;
}
span {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}
.span2 {
  font-size: 60px;
  color: white;
}
